body {
  background: #12101D;
  font-family: "Poppins", sans-serif;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/viking-trail-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 100px 0 200px;
  text-align: center;
}

header h1 {
  font-size: 68px;
  font-weight: 700;
  line-height: 1;
  margin: 0 auto;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 2;
  margin: 0 auto;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 1.5;
  margin: 0 auto;
}

header a {
  color: #272435;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 32px;
  background: #fff;
  margin: 32px 0 105px;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.img-responsive {
  display: block;
  height: 100%;
  width: 100%;
}




@media (max-width: 960px) {
  header {
    padding: 50px 0 100px;
  }

  header h1 {
    font-size: 34px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  header a {
    font-size: 9px;
    padding: 8px 16px;
    margin: 16px 0 52px;
  }

  footer {
  padding: 25px 44px 23px;
  font-size: 8px;
  gap: 20px;
}

  footer .grid {
  grid-template-columns: 1fr 2fr;
  grid-gap: 15px;
}

footer a {
  font-size: 8px;
}

footer h3 {
  font-size: 8px;
}

footer p {
  font-size: 8px;
}


.grid {
  grid-gap: 32px;
}

.grid-2-columns {
  grid-template-columns: 1fr;
}

.d-sm-none {
  display: none;
}
}



/*     Footer     */
footer {
  background: linear-gradient(rgba(39, 32, 68, 0.9), rgba(39, 32, 68, 0.9)), url(/images/footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  gap: 40px;
  padding: 50px 85px 46px;
  text-align: start;
}

footer .grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 2fr 2fr;
}

footer ul {
  display: block;
  margin-top: 5px;
  padding: 0;
}

footer li {
  line-height: 1.1;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

footer a {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  opacity: 0.7;
  padding: 0;
}

footer h3 {
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
}